

body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }
		
		.logo {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  width: center;
		}


        .container {
            flex: 1;
        }
		
		       .navbar {
		            background-color: maroon;
		            padding: 10px;
		            display: flex;
		            justify-content: space-between;
					justify-content: center;
		            align-items: center;
		        }

		        .navbar-links {
		            text-align: center;
		        }
		}
		
         .navbar {
            background-color: maroon;
            padding: 10px;
        }

        .navbar a {
            color: white;
            text-decoration: none;
            margin-right: 10px;
        }
        .page {
            margin: 20px;
        }
       
        .footer {
            background-color: maroon;
            color: white;
            padding: 10px;
            text-align: center;
			
        }
		
		
		
		
		